## Imports

In [31]:
import pandas as pd
import geopandas as gpd
import googlemaps
from shapely.geometry import Point
import os

## Data Read-in and clean

In [2]:
df = pd.read_csv('Manhattan_Brooklyn addresss with 15+ Hamptons owners - Sheet1.csv')

In [4]:
df = df.drop(columns='Unnamed: 0')

In [6]:
df['Full_Address'] = df['Address'] + ' New York, NY'

## Geocode

In [9]:
%store -r google_maps_API_Key
gmaps_key = googlemaps.Client(key=google_maps_API_Key)

In [25]:
from shapely.geometry import Point
import geopandas as gpd

# Define the geocode function
def geocode(add):
    g = gmaps_key.geocode(add)
    if g:
        lat = g[0]["geometry"]["location"]["lat"]
        lng = g[0]["geometry"]["location"]["lng"]
        return (lat, lng)
    else:
        return None

# Apply geocoding to the 'Full_Address' column and store the results in the 'geocoded' column
df['geocoded'] = df['Full_Address'].apply(geocode)

# Split 'geocoded' into 'lat' and 'lon', handling None values
df[['lat', 'lon']] = df['geocoded'].apply(lambda x: (None, None) if x is None else x).apply(pd.Series)

# Convert 'lat' and 'lon' to floats
df['lat'] = df['lat'].astype(float)
df['lon'] = df['lon'].astype(float)

# Create the 'geometry' column with Point objects
df['geometry'] = df.apply(lambda row: Point(row['lon'], row['lat']) if pd.notnull(row['lat']) and pd.notnull(row['lon']) else None, axis=1)

# Drop rows where geometry is None
df = df.dropna(subset=['geometry'])

# Create a GeoDataFrame
gdf = gpd.GeoDataFrame(df, geometry='geometry')

# Set CRS (Coordinate Reference System) to WGS 84 (EPSG:4326)
gdf.set_crs(epsg=4326, inplace=True)

/Users/afarence/opt/anaconda3/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:131: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

,Address,Count,Full_Address,geocoded,lat,lon,geometry
0,1185 Park Avenue,33,"1185 Park Avenue New York, NY","(40.7846858, -73.9531111)",40.784686,-73.953111,POINT (-73.95311 40.78469)
1,500 East 77th Street,26,"500 East 77th Street New York, NY","(40.7695627, -73.95079989999999)",40.769563,-73.950800,POINT (-73.95080 40.76956)
2,425 East 58th Street,24,"425 East 58th Street New York, NY","(40.7588424, -73.9611658)",40.758842,-73.961166,POINT (-73.96117 40.75884)
3,115 Central Park West,23,"115 Central Park West New York, NY","(40.776224, -73.9766209)",40.776224,-73.976621,POINT (-73.97662 40.77622)
4,767 Fifth Avenue,22,"767 Fifth Avenue New York, NY","(40.7635906, -73.9724052)",40.763591,-73.972405,POINT (-73.97241 40.76359)
5,300 Central Park West,22,"300 Central Park West New York, NY","(40.7882884, -73.9674607)",40.788288,-73.967461,POINT (-73.96746 40.78829)
6,45 East 89th Street,20,"45 East 89th Street New York, NY","(40.78294530000001, -73.95662879999999)",40.782945,-73.956629,POINT (-73.95663 40.78295)
7,215 East 68th Street,20,"215 East 68th Street New York, NY","(40.7670517, -73.960883)",40.767052,-73.960883,POINT (-73.96088 40.76705)
8,200 East 66th Street,20,"200 East 66th Street New York, NY","(40.7652576, -73.96250789999999)",40.765258,-73.962508,POINT (-73.96251 40.76526)
9,95 Horatio Street,17,"95 Horatio Street New York, NY","(40.7388903, -74.0088418)",40.738890,-74.008842,POINT (-74.00884 40.73889)
10,400 East 56th Street,17,"400 East 56th Street New York, NY","(40.7571111, -73.96307829999999)",40.757111,-73.963078,POINT (-73.96308 40.75711)
11,360 East 72nd Street,17,"360 East 72nd Street New York, NY","(40.7678688, -73.9566111)",40.767869,-73.956611,POINT (-73.95661 40.76787)
12,25 Central Park West,17,"25 Central Park West New York, NY","(40.77054469999999, -73.9807761)",40.770545,-73.980776,POINT (-73.98078 40.77054)
13,220 Riverside Boulevard,17,"220 Riverside Boulevard New York, NY","(40.7798567, -73.9873973)",40.779857,-73.987397,POINT (-73.98740 40.77986)
14,150 East 69th Street,17,"150 East 69th Street New York, NY","(40.767945, -73.962976)",40.767945,-73.962976,POINT (-73.96298 40.76794)
15,15 Central Park West,17,"15 Central Park West New York, NY","(40.7697189, -73.9810746)",40.769719,-73.981075,POINT (-73.98107 40.76972)
16,61 Jane Street,16,"61 Jane Street New York, NY","(40.7382981, -74.0058899)",40.738298,-74.005890,POINT (-74.00589 40.73830)
17,350 East 79th Street,16,"350 East 79th Street New York, NY","(40.7724285, -73.9533498)",40.772428,-73.953350,POINT (-73.95335 40.77243)
18,2 River Terrace,16,"2 River Terrace New York, NY","(40.7153256, -74.0159772)",40.715326,-74.015977,POINT (-74.01598 40.71533)
19,1088 Park Avenue,16,"1088 Park Avenue New York, NY","(40.7820603, -73.9562107)",40.782060,-73.956211,POINT (-73.95621 40.78206)
20,450 West 17th Street,15,"450 West 17th Street New York, NY","(40.743531, -74.00674599999999)",40.743531,-74.006746,POINT (-74.00675 40.74353)
21,255 East 74th Street,15,"255 East 74th Street New York, NY","(40.7704759, -73.9574549)",40.770476,-73.957455,POINT (-73.95745 40.77048)
22,25 East 86th Street,15,"25 East 86th Street New York, NY","(40.7811982, -73.95895910000002)",40.781198,-73.958959,POINT (-73.95896 40.78120)
23,211 East 70th Street,15,"211 East 70th Street New York, NY","(40.7683484, -73.9606034)",40.768348,-73.960603,POINT (-73.96060 40.76835)
24,200 Riverside Boulevard,15,"200 Riverside Boulevard New York, NY","(40.778991, -73.987686)",40.778991,-73.987686,POINT (-73.98769 40.77899)
25,151 East 85th Street,15,"151 East 85th Street New York, NY","(40.7789524, -73.9558467)",40.778952,-73.955847,POINT (-73.95585 40.77895)
26,125 East 72nd Street,15,"125 East 72nd Street New York, NY","(40.7707802, -73.9622031)",40.770780,-73.962203,POINT (-73.96220 40.77078)

In [29]:
# Convert all data to strings if possible, or remove complex structures
for col in gdf.columns:
    if gdf[col].dtype == object:
        try:
            gdf[col] = gdf[col].astype(str)
        except Exception as e:
            print(f"Could not convert column {col}: {e}")
            gdf.drop(columns=[col], inplace=True)

In [30]:
gdf.to_file('output.geojson', driver='GeoJSON')

In [32]:
base_name = 'https://trd-digital.github.io/trd-news-interactive-maps/'

cwd = os.getcwd()

cwd = cwd.split('/')

final_name = base_name + cwd[-1]
print(final_name)

https://trd-digital.github.io/trd-news-interactive-maps/Manhattan_Brooklyn_addresss_with_15+_Hamptons owners